{% extends 'base.html' %}


{% block content %}
<div class="container py-5 mb-5">
    <h1>{{object}}</h1>
    <hr>
    <div class="col-lg p-5">

        <div class="text-end pb-3">
            <a class="btn btn-dark px-5 rounded-4"
                href="{% url 'knowledgebase-update' object.pk %}">Edit</a>
        </div>
        <div class="row">
            {% if object.attachment %}
            <p><a class="text-dark fw-bold"
                    target="_blank"
                    href="{{object.attachment.url}}">{{object.name}}</a></p>
            {% endif %}
            <p>{{object.description}}</p>
            <p class="small text-muted">{{object.created_at}}</p>
        </div>
    </div>
</div>
{% endblock content %}