version: '3.8'

services:
  web:
    build: ./app
    command: python manage.py runserver 0.0.0.0:8000
    # command: gunicorn cf.wsgi:application --bind 0.0.0.0:8000

    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 80:8000
    env_file:
      - ./.env
    restart: always
    depends_on:
      - db
  db:
    image: postgres:15
    volumes:
      - postgres_data1:/var/lib/postgresql/data/
    env_file:
      - ./.env
    restart: always

volumes:
  postgres_data1: