{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5 mb-5">
    <h1>Computers({{computer_count}}/{{all_computers}})</h1>
    <hr>
    <div class="d-flex justify-content-end align-items-center">
        <div class="text-end">
            <a class="text-dark ms-2"
                href="{% url 'computer-create' %}">Add computer

            </a>
            <a class="text-dark ms-2"
                href="{% url 'computer-model-create' %}">Add model

            </a>
        </div>
    </div>
    <br>
    <div class="row"
        style="height: fit-content;">
        <div class="col-lg-2">
            <h2>Filter</h2>
            <hr>
            <form action="{% url 'computer-list' %}"
                method="get">
                <div class="col-lg mx-auto">
                    <input type="text"
                        class="form-control"
                        name="q"
                        placeholder="Search computer name, serial number, notes..."
                        value="{{ request.GET.q }}">
                </div>
                <br>
                <div class="">
                    {{ filter.form.model|as_crispy_field }}
                </div>
                <div class="">
                    {{ filter.form.created_by|as_crispy_field }}
                </div>
                <div class="">
                    {{ filter.form.updated_by|as_crispy_field }}
                </div>
                <div class="">
                    {{ filter.form.project|as_crispy_field }}
                </div>
                <div class="">
                    {{ filter.form.status|as_crispy_field }}
                </div>
                <div class="">
                    {{ filter.form.os|as_crispy_field }}
                </div>
                <div class="">
                    {{ filter.form.location|as_crispy_field }}
                </div>
                <div class="">
                    {{ filter.form.department|as_crispy_field }}
                </div>
                <br>
                <div class="text-end">
                    <a class="me-2 text-muted"
                        href="{% url 'computer-list' %}">Clear</a>
                    <button class="btn btn-dark rounded-4 px-5"
                        type="submit">Filter</button>
                </div>
            </form>
        </div>

        <div class="col-lg">
            <section>
                {% if page_obj %}
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a
                        href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of
                        {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last
                        &raquo;</a>
                    {% endif %}
                </span>
                <br><br>
                {% endif %}
                <div class="table-responsive px-5">
                    <table class="table table-hover table-sm small" style="width:max-content">
                        <thead style="width: fit-content;">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Computers</th>
                                <th scope="col">Model</th>
                                <th scope="col">Location</th>
                                <th scope="col">Status</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for computer in filter.qs %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{computer.user|default:"-"|upper|truncatechars:15}}</td>
                                <td><a class="text-dark"
                                        href="{% url 'computer-detail' computer.pk %}">{{computer.computer_name|default:'-'|upper|truncatechars:10}}
                                        ({{computer.serial_number|default:'-'|upper|truncatechars:10}})
                                    </a>
                                </td>
                                <td>{{computer.model|upper|truncatechars:25}}</td>
                                <td>{{computer.location|upper}}
                                    ({{computer.department|upper}})</td>
                                <td>{{computer.status|upper}}</td>
                                <td>{{computer.notes|upper|truncatechars:30}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No computers found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                {% if page_obj %}
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a
                        href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of
                        {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last
                        &raquo;</a>
                    {% endif %}
                </span>
                {% endif %}

            </section>
        </div>
    </div>
</div>

<script>
    $("#id_model").select2();
    $("#id_status").select2();
    $("#id_os").select2();
    $("#id_location").select2();
    $("#id_department").select2();
    $("#id_created_by").select2();
    $("#id_updated_by").select2();
    $("#id_project").select2();
</script>

{% endblock content %}