{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-5">
    <div class="d-flex justify-content-start align-items-center">
        <h1>Licence Cards</h1>
        <a href="{% url 'card-create' %}">
            <span class="ms-5 fs-1 text-success material-symbols-outlined">
                add_box
            </span>
        </a>
    </div>
    <hr>
    <div class="d-flex justify-content-start align-items-center mt-3">
        <div class="col-lg-6 mx-auto py-3">
            <form action=""
                method="get">
                <input class="form-control form-control-lg rounded-4"
                    type="search"
                    name="cards"
                    placeholder="Search cards..."
                    id="">
            </form>
            <div class="text-end small">
                <a class=" text-muted me-2"
                    href="{% url 'card-filter' %}">Advance
                    filter</a>
            </div>
        </div>
    </div>
    <br>
    <section>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a
                    href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of
                    {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</a>
                {% endif %}
            </span>
        </div>
        <div class="table-responsive px-5">
            <table class="table table-hover table-sm small">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Licence</th>
                        <th scope="col">Licence No.</th>
                        <th scope="col">Category</th>
                        <th scope="col">Expires</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in object_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a class="text-dark"
                                href="{% url 'card-detail' card.pk %}">{{card.name|upper}}
                            </a>
                        </td>
                        <td>{{card.licence|upper}}</td>
                        <td>{{card.licence_no|upper}}</td>
                        <td>{{card.category|upper}}</td>
                        <td>{{card.expires|upper}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a
                    href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of
                    {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
</div>
{% endblock content %}