{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5 mb-5">
    <h1>Add Computer Model</h1>
    <hr>
    <div class="col-lg-6 p-5 border border-dark rounded-4">
        <form action=""
            method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <button class="btn btn-dark rounded-4"
                    type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}