{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5 mb-5">
    <h1>Computer Filter</h1>
    <hr>
    <div class="shadow p-5 rounded-4 mb-5">
        <form method="get">
            <div class="row">
                <div class="col-lg-4">
                    {{ filter.form.project|as_crispy_field }}
                </div>
                <div class="col-lg-4">
                    {{ filter.form.model|as_crispy_field }}
                </div>
                <div class="col-lg-4">
                    {{ filter.form.status|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ filter.form.os|as_crispy_field }}
                </div>
                <div class="col-lg-4">
                    {{ filter.form.location|as_crispy_field }}
                </div>
                <div class="col-lg-4">
                    {{ filter.form.department|as_crispy_field }}
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-dark btn-lg px-5 rounded-4"
                    type="submit">Filter</button>
            </div>
        </form>
    </div>
    <hr>
    <section>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a
                    href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of
                    {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</a>
                {% endif %}
            </span>
        </div>

        <div class="table-responsive px-5">
            <table class="table table-hover table-sm small">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Computer name</th>
                        <th scope="col">Serial number</th>
                        <th scope="col">Model</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for computer in filter.qs %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a class="text-dark"
                                href="{% url 'computer-detail' computer.pk %}">{{computer.computer_name|upper}}
                            </a>
                        </td>
                        <td>{{computer.serial_number|upper}}</td>
                        <td>{{computer.model|upper}}</td>
                        <td>{{computer.location|upper}}</td>
                        <td>{{computer.status|upper}}</td>
                        <td>{{computer.notes|upper}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a
                    href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of
                    {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
</div>
<script>
    $("#id_model").select2();
    $("#id_os").select2();
    $("#id_department").select2();
    $("#id_monitor").select2();
    $("#id_status").select2();
    $("#id_project").select2();
    $("#id_location").select2();
</script>

{% endblock content %}