{% extends 'base.html' %}


{% block content %}
<div class="p-5 mb-5">
    <h5>Microsoft Office
        ({{microsoft_office_installed_count}}/{{microsoft_office_count}})</h5>
    <hr>
    <div class="col-lg-6 mx-auto py-3">
        <form action=""
            method="get">
            <input class="form-control form-control-lg rounded-4"
                type="search"
                name="microsoft_office_search"
                placeholder="Search Microsoft Office keys..."
                id="">
        </form>
    </div>
    <br>
    <section>
        <h3>Available</h3>
        <hr>
        <div class="table-responsive px-5">
            <table class="table table-hover table-sm small">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Key</th>
                        <th scope="col">Computer</th>
                        <th scope="col">Installed</th>
                        <th scope="col">Added</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key in object_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a class="text-dark"
                                href="{% url 'microsoft-office-update' key.pk %}">{{key}}
                            </a>
                        </td>
                        <td>{{key.computer|default:'-'}}</td>
                        <td>{{key.date_installed|default:'-'}}</td>
                        <td>{{key.created_at}}</td>
                    </tr>
                    {% empty %}
                    <td colspan="4">
                        <p class="text-center">No available keys</p>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <br>
    <section>
        <h3>Installed</h3>
        <hr>
        <div class="table-responsive px-5">
            <table class="table table-hover table-sm small">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Key</th>
                        <th scope="col">Computer</th>
                        <th scope="col">Installed</th>
                        <th scope="col">Added</th>
                    </tr>
                </thead>
                <tbody>
                    {% for install in microsoft_office_installed %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a class="text-dark"
                                href="{% url 'microsoft-office-update' install.pk %}">{{install}}
                            </a>
                        </td>
                        <td><a class="text-danger"
                                href="{{install.computer.get_absolute_url}}">{{install.computer|default:'-'}}</a>
                        </td>
                        <td>{{install.date_installed|default:'-'}}</td>
                        <td>{{install.created_at}}</td>
                    </tr>
                    {% empty %}
                    <td colspan="4">
                        <p class="text-center">No available keys</p>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <br>
    <section>
        <h3>Failed</h3>
        <hr>
        <div class="table-responsive px-5">
            <table class="table table-hover table-sm small">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Key</th>
                        <th scope="col">Computer</th>
                        <th scope="col">Installed</th>
                        <th scope="col">Added</th>
                    </tr>
                </thead>
                <tbody>
                    {% for failed in microsoft_office_has_failed %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a class="text-dark"
                                href="{% url 'microsoft-office-update' failed.pk %}">{{failed}}
                            </a>
                        </td>
                        <td><a class="text-danger"
                                href="{{failed.computer.get_absolute_url}}">{{failed.computer|default:'-'}}</a>
                        </td>
                        <td>{{failed.date_installed|default:'-'}}</td>
                        <td>{{failed.created_at}}</td>
                    </tr>
                    {% empty %}
                    <td colspan="4">
                        <p class="text-center">No available keys</p>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock content %}