{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<div class="container py-5 mb-5">
    <h5>{{object}}</h5>
    <hr>
    <div class="col-lg-5 p-5">
        <p>Product key:
            XXXXX-XXXXX-XXXXX-{{object.product_key|slice:"-11:"|upper}}
        </p>
        <p>Computer: <a href="{{object.computer.get_absolute_url}}">
                {{object.computer|default:'-'}}</a></p>
        <p>Installed: {{object.date_installed|default:'-'}}</p>
        {% if object.comments %}
        <p>Comments: {{object.comments}}</p>
        {% endif %}
    
    </div>
</div>


{% endblock content %}