{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5 mb-5">
    <h1>Monitor form</h1>
    <hr>
    <div class="col-lg-5 mx-auto p-5">
        <form action=""
            enctype="multipart/form-data"
            method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <br>
                <button class="btn btn-lg btn-dark rounded-4"
                    type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    $("#id_model").select2();
</script>
{% endblock content %}