{% extends 'base.html' %}


{% block content %}
<div class="p-5 mb-5">
    <div class="d-flex justify-content-start align-items-center">
        <h1>Monitor models</h1>
        <div class="ms-3">
            <a href="{% url 'monitor-model-create' %}">
                <span class="fs-3 text-success material-symbols-outlined">
                    add_box
                </span>
            </a>
        </div>
    </div>
    <hr>

    <div class="col-lg-4 py-3">
        <form action=""
            method="get">
            <input class="form-control form-control-lg rounded-4"
                type="search"
                name="monitor-models"
                placeholder="Search monitor models..."
                id="">
        </form>
    </div>
    <br>
    <section>
        <div class="table-responsive">
            <div class="col-lg-4 p-5 rounded-4 border border-dark">
                <table class="table table-hover table-sm small">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for model in object_list %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td><a class="text-dark"
                                    href="{% url 'monitor-model-detail' model.pk %}">{{model.maker|upper}}
                                    -{{model.name|upper}}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

{% endblock content %}