{% extends 'base.html' %}

{% load humanize %}


{% block content %}
<div class="container py-5 mb-5">
    <h1>{{object}}</h1>
    <hr>
    <div class="col-lg p-5">

        <div class="text-end pb-3">
            <a class="btn btn-dark px-5 rounded-4"
                href="{% url 'printer-update' object.pk %}">Edit</a>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p>Serial Number: {{object.serial_number}}</p>
                <p>Printer name: {{object.printer_name|default:'-'}}</p>
                <p>Model: <a
                        href="{{object.model.get_absolute_url}}">{{object.model}}</a>
                </p>
                <p>Location: {{object.location}}</p>
                <p><a target="_blank"
                        href="http://{{object.ip_addr}}/">IP Address:
                        {{object.ip_addr|default:"0.0.0.0"}}</a></p>
                <p>Department: {{object.department}}</p>
            </div>
            <div class="col">
                <p>Status: {{object.status}}</p>
                <p>Received: {{object.date_received}}</p>
                <p>Installed: {{object.date_installed}}</p>
                <p>Notes: {{object.notes}}</p>
            </div>
            {% if object.supplies.all %}
            <div class="col">
                <h3>Suppliers</h3>
                <ol>
                    {% for supply in object.supplies.all %}
                    <div
                        class="py-3 px-5 rounded-4 border {% if supply.count <= supply.min_count %} border-danger {% else %} border-success {% endif %}">
                        <li><a href="">({{supply.count}}) {{supply.item}}
                                {{supply.part_number|upper}}</a>
                            <span
                                class="text-muted small">{{supply.updated_at|naturaltime}}</span>
                        </li>
                        <ul>
                            {% for supplier in supply.supplier.all %}
                            <li>{{supplier.supplier}}</li>
                            <li>{{supplier.email}}</li>
                            <li>{{supplier.phone}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}