<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>New Ticket Created</title>
</head>

<body>
    <h2>New Ticket: {{ ticket.ticket_id|upper }} Created</h2>
    <p>Dear {{ ticket.user }},</p>
    <p>A new ticket has been created. Here are the details:</p>

    <p><strong>Ticket ID:</strong> {{ ticket.ticket_id }}</p>
    <p><strong>Description:</strong> {{ ticket.description }}</p>

    <p>You can view the details of the ticket by clicking on the following
        link:</p>

    <p><a href="{{full_url}}">View Ticket</a></p>

    <p>Thank you for using our ticketing system.</p>

    <p>Best regards,
        <br>Your Support Team
    </p>
</body>

</html>