{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="p-5 mb-5">
    <div class="d-flex align-items-center justify-content-start">
        <h1>Tickets</h1>
        <a href="{% url 'ticket-create' %}">
            <span class="ms-3 fs-1 text-success material-symbols-outlined">
                add_box
            </span>
        </a>
    </div>
    <div class="col-lg-6 mx-auto py-3">
        <form action=""
            method="get">
            <input class="form-control form-control-lg rounded-pill"
                type="search"
                name="ticket"
                placeholder="Search by Ticket ID"
                id="">
        </form>
    </div>
    <br>
    <div class="table responsive">
        <table class="table table-sm table-hover small">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Client</th>
                    <th scope="col">Category to</th>
                    <th scope="col">Assigned to</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a class="text-dark"
                            href="{{ticket.get_absolute_url}}">#{{ticket.ticket_id}}</a>
                    </td>
                    <td>{{ticket.summary}} ({{ticket.ticket_status}})</td>
                    <td>{{ticket.user}}</td>
                    <td>{{ticket.ticket_category}}</td>
                    <td class="small text-muted">Updated:
                        {{ticket.updated_at|naturaltime}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock content %}