html,
body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.hide-me {
    -webkit-animation: cssAnimation 7s forwards;
    animation: cssAnimation 7s forwards;
}

@keyframes cssAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
