{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="p-5 mb-5">
    <div class="col-lg-6 mx-auto">
        <h1>Client form</h1>
        <hr>
        <form action=""
            enctype="multipart/form-data"
            method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <br>
                <button class="btn btn-dark rounded-4 btn-lg"
                    type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}