{% extends 'base.html' %}



{% block content %}
<div class="p-5 mb-5">
    <h1>{{object}}</h1>
    <hr>
    <div
        class="col-lg-4 col-md-4 col-sm-12 border border-dark shadow p-5 rounded-4 ">
        <div class="text-end">
            <a href="{% url 'client-update' object.id %}"
                class="btn btn-dark">Edit</a>
        </div>
        <hr>
        <ul>
            <li>Role: {{object.job_title}}</li>
            <li>Department: {{object.department}}</li>
            <li>Email: {{object.email}}</li>
            <li>Ext: {{object.ext}}</li>
        </ul>
    </div>
</div>
{% endblock content %}