{% load static %}
<br><br>
<footer
        class="px-5 d-flex flex-wrap justify-content-between mt-5 bg-white align-items-center py-1  border-top sticky-bottom">
        <p class="col-md-0 mb-0 text-body-secondary">&copy; {% now "Y"%} <img
                        src="{% static 'images/logo.png' %}"
                        alt=""
                        width="20"
                        height="20"
                        class="rounded-circle">
        </p>
        <a href="/"
                class="col-md d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

        </a>
        <ul class="nav col-md-6 justify-content-end">
                <li class="nav-item"><span
                                class="nav-link px-2 text-body-secondary">EXT:
                                <a class="fw-bold"
                                        href="tel:4684343">4343</a>/<a
                                        class="fw-bold"
                                        href="tel:4684342">4342</a>/<a
                                        class="fw-bold"
                                        href="mailto:ict.infrastructure@govt.lc">e-mail</a></span>
                </li>
                <li class="nav-item"><a target="_blank"
                                href="https://digigov.govt.lc/"
                                class="nav-link px-2 text-body-info fw-bold">digiGov</a>
                </li>
                <li class="nav-item"><a target="_blank"
                                href="https://sso.digigov.govt.lc/auth/realms/sldguser/protocol/openid-connect/auth?response_type=code&client_id=svcbru&redirect_uri=https%3A%2F%2Fdigigov.govt.lc%2Fsvcbru%2Fsso%2Flogin&state=d4c0e49f-a5b6-464f-bdb7-ee02d2d90d4e&login=true&scope=openid"
                                class="nav-link px-2 text-body-info fw-bold">SSO</a>
                </li>
                <li class="nav-item"><a target="_blank"
                                href="https://int.digigov.govt.lc/mot/"
                                class="nav-link px-2 text-body-info fw-bold">MOT</a>
                </li>
                <li class="nav-item"><a target="_blank"
                                href="https://mail.govt.lc/"
                                class="nav-link px-2 text-body-info fw-bold">Mail</a>
                </li>
                <li class="nav-item"><a target="_blank"
                                href="https://mail.govt.lc/"
                                class="nav-link px-2 text-body-info fw-bold">Stickers</a>
                </li>
        </ul>
</footer>