<div class="flex-shrink-0 p-3"
        style="width: 280px;">
        <a href="/"
                class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold">IT Unit</span>
        </a>

        <ul class="list-unstyled ps-0">
                {% if request.user.is_authenticated %}

                <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#home-collapse"
                                aria-expanded="true">
                                IT Unit
                        </button>
                        <div class="collapse show"
                                id="home-collapse">
                                <ul
                                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="{% url 'computer-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Computer
                                                </a></li>
                                        <li><a href="{% url 'computer-model-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Computer
                                                        models</a></li>
                                        <li><a href="{% url 'printer-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Printers</a>
                                        </li>
                                        <li><a href="{% url 'printer-model-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Printer
                                                        models</a></li>
                                        <li><a href="{% url 'monitor-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monitors</a>
                                        </li>
                                        <li><a href="{% url 'monitor-model-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monitor
                                                        models</a></li>
                                        <li><a href="{% url 'microsoft-office-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Microsoft
                                                        Office</a></li>
                                </ul>
                        </div>
                </li>
                {% endif %}

                <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#dashboard-collapse"
                                aria-expanded="true">
                                Clients
                        </button>
                        <div class="collapse show"
                                id="dashboard-collapse">
                                <ul
                                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="{% url 'client-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a>
                                        </li>
                                        <!-- <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Weekly</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monthly</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li> -->
                                </ul>
                        </div>
                </li>
                <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#orders-collapse"
                                aria-expanded="true">
                                Tickets
                        </button>
                        <div class="collapse show"
                                id="orders-collapse">
                                <ul
                                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="/"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a>
                                        </li>
                                        <li><a href="{% url 'client-ticket-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">My
                                                        Tickets</a></li>

                                        {% if request.user.is_authenticated %}
                                        <li><a href="{% url 'ticket-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Opened</a>
                                        </li>
                                        <li><a href="#"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Closed</a>
                                        </li>
                                        {% endif %}

                                </ul>
                        </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#account-collapse"
                                aria-expanded="false">
                                Account
                        </button>
                        <div class="collapse"
                                id="account-collapse">
                                <ul
                                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                        {% if request.user.is_authenticated %}
                                        <li><a href="#"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a>
                                        </li>
                                        <li><a href="{% url 'account_logout' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign
                                                        out</a></li>
                                        {% else %}
                                        <li><a href="{% url 'account_login' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign
                                                        in</a></li>
                                        {% endif %}

                                </ul>
                        </div>
                </li>
        </ul>
</div>